/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--regular-font-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font);
  font-size: 18px;
  line-height: 23.4px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--background-color);
  background-image: var(--cover-background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.page.theme-light{
  --cover-background-image: url(../images/cover-image-light.png);
}

.page.theme-dark {
  --cover-background-image: url(../images/cover-image-dark.png);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr; /* меняется в зависимости от размера экрана */
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "theme"
    "title"
    "subtext";
  align-items: center;
  padding-block: 10px; /* меняется в зависимости от размера экрана */
  block-size: 668px; /* меняется в зависимости от размера экрана */
}

.header__decor {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-inline: 10px; /* меняется в зависимости от размера экрана */
  margin-block: 10px; /* меняется в зависимости от размера экрана */
}

.header__decor-rec {
  color: var(--accent-color);
  line-height: 25px;
}

.header__decor-lamp {
  align-self: center;
  width: 9px;
  height: 9px;
  margin-inline-end: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin-inline: var(--decor-margin, 10px);
  margin-block: var(--decor-margin, 10px);
  border-top: solid var(--decor-color) 1px;
  border-right: solid var(--decor-color) 1px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin-inline: var(--decor-margin, 10px);
  margin-block: var(--decor-margin, 10px);
  border-bottom: solid var(--decor-color) 1px;
  border-left: solid var(--decor-color) 1px;
}

.header__theme-menu {
  grid-area: theme;
  justify-self: end; /* меняется в зависимости от размера экрана */
  padding-inline-end: 10px; /* меняется в зависимости от размера экрана */
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column; /* меняется в зависимости от размера экрана */
  gap: 10px;
}

.header__theme-menu-list li {
  line-height: 1em;
}

.header__theme-menu-button {
  border: solid 1px transparent;
  padding-inline: 13px;
  color: var(--button-color);
  text-transform: lowercase;
  background-color: transparent;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: solid 1px color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px currentColor;
}

.header__theme-menu-button.header__theme-menu-button_active {
  border: solid 1px var(--button-color);
  pointer-events: none;
}

.header__title {
  grid-area: title;
  padding-inline-start: 10px; /* меняется в зависимости от размера экрана */
  color: var(--title-color);
  font-size: var(--headline-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--title-shadow);
}

.header__subtext-wrapper {
  grid-area: subtext;
  justify-self: end;
  padding-inline: 10px; /* меняется в зависимости от размера экрана */
  inline-size: 100%;
}

.header__subtext {
  font-size: 18px;
}

.title-decor {
  color: var(--subtitle-color);
  font-weight: bold;
  background-color: var(--subtitle-background-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px; /* меняется в зависимости от размера экрана */
  padding-inline: 10px; /* меняется в зависимости от размера экрана */
  padding-block-start: 40px; /* меняется в зависимости от размера экрана */
}

.article {
  display: grid;
  grid-template-columns: 1fr; /* меняется в зависимости от размера экрана */
  gap: 20px;
}

.article__title {
  color: var(--article-title-color);
  font-size: inherit;
}

.article__card-title {
  font-size: inherit;
}

.article__card-title.regular {
  font-weight: normal;
}

.article__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bm-1 {
  margin-block-end: 10px;
}

.article__card-text a {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--link-shadow);
}

.article__card-text a:focus {
  outline: none;
}

.article__card-text a:focus-visible {
  outline: solid 1px currentColor;
}

.article__card-text a:hover::after {
  /* искусственное подчеркивание без эффекта тени */
  content: "";
  position: absolute;
  bottom: 1px; /* отступ снизу */
  left: 0;
  width: 100%;
  height: 1px; /* толщина линии */
  background-color: currentColor; /* цвет линии будет таким же, как у текста */
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px; /* меняется в зависимости от размера экрана */
  padding-block-end: 40px; /* меняется в зависимости от размера экрана */
}

.gallery__title {
  font-size: inherit;
}

.gallery_wrapper {
  display: grid;
  grid-template-columns: 1fr; /* меняется в зависимости от размера экрана */
  gap: 10px; /* меняется в зависимости от размера экрана */
  height: 100%;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 668px; /* меняется в зависимости от размера экрана */
}

.footer__text {
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--headline-font-size);
  text-shadow: 2px 2px 0 var(--title-shadow);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "theme theme"
      "title title"
      ". subtext";
    block-size: 1024px;
    padding-block: 20px;
  }

  .header__decor {
    margin-inline: 20px;
    margin-block: 20px;
  }

  .decorated-zone {
    --decor-margin: 20px;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
  }

  .header__title {
    padding-inline-start: 0;
  }

  .header__subtext-wrapper {
    padding-inline: 0;
    padding-inline-end: 20px;
  }

  .content {
    gap: 80px;
    padding-inline: 20px;
    padding-block-start: 60px;
  }

  .gallery {
    gap: 20px;
    padding-block-end: 60px;
  }

  .gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-auto-flow: row;
    gap: 20px;
    height: 100%;
    max-block-size: 780px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    block-size: 1024px;
  }
}

@media (768px <= width < 1024px) {
  .article {
    grid-template-columns: 1fr 2fr;
  }

  .article:nth-child(2n + 1) > :first-child {
    grid-row: 1 / -1;
  }

  .article:nth-child(2n + 1) > :not(:first-child) {
    grid-column: 2 / -1;
  }

  .article:nth-child(2n) > :first-child {
    grid-row: 1 / 2;
  }

  .article:nth-child(2n) > :not(:first-child) {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .header {
    padding-block: 20px;
    block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-inline-end: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .article {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article:nth-child(2n + 1) > :first-child {
    grid-row: 1 / -1;
  }

  .article:nth-child(2n + 1) > :not(:first-child) {
    grid-column: 2 / -1;
  }

  .article:nth-child(2n) > :first-child {
    grid-row: 1 / 2;
  }

  .article:nth-child(2n) > :not(:first-child) {
    grid-column: auto;
    grid-row: 2;
  }

  .gallery_wrapper {
    grid-template-rows: 260px 315px 428px;
    max-block-size: 1048px;
  }

  .footer {
    block-size: 768px;
  }
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
   --cover-background-image: url(../images/cover-image-dark.png);
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
   --cover-background-image: url(../images/cover-image-light.png);
  }
}