/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font: "IBM Plex mono", sans-serif;
  --headline-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #ff0070;
  --accent-secondary-color: #db00ff;
  --accent-dark-color: #000028;
  --regular-font-color: #f1b2ce;
  --background-color: #000028;
  --title-color: var(--accent-secondary-color);
  --title-shadow: var(--accent-color);
  --subtitle-color: var(--accent-dark-color);
  --subtitle-background-color: var(--accent-color);
  --article-title-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --button-color: var(--accent-color);
  --link-shadow: var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --headline-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
